.contactDiv {
    background-image: linear-gradient(150deg , rgb(191, 104, 231) , rgb(118, 24, 180));
    margin: 2vh 2vw !important;
    border-radius: 20px;
}
.contactDiv p {
    color: white;
    text-align: center;
    margin-top: 2vh !important;
}