.contactDiv {
    background-image: linear-gradient(150deg , rgb(119, 231, 104) , rgb(60, 180, 24));
    margin: 2vh 2vw !important;
    border-radius: 20px;
}
.contactDiv p {
    color: white;
    text-align: center;
    margin-top: 2vh !important;
}