:root {
    --main-color : #39ce0c;
    --main-hover-color : #2a9c08;
    --footer-bg-color : #46c70b;
    --gradient-color : linear-gradient(300deg, rgb(26, 197, 11), rgb(183, 248, 177));
    ;
}
th , td {
    color: black !important;
}